PORT=8000
NODE_ENV=development

MONGO_URI="mongodb+srv://<username>:<password>@<>.mongodb.net/mern_db"
APP_ORIGIN="http://localhost:3000"
JWT_SECRET="b0d2f548e6c5fdd3ed1482d168ec1520941185f9e70f8b560ec2d6df31a6ec4f"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="jwt_refresh_secret_key"
JWT_REFRESH_EXPIRES_IN="30d"

RESEND_API_KEY=""
MAILER_SENDER="onboarding@resend.dev"